{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>アップローダー</title>
{% endblock head %}
{% block main %}
<div class="d-flex">
    <div>
        <div class="p-5 shadow rounded"> 
            <h2>画像を登録する</h2>
            <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form upload_form %}
                <button type="submit" class="btn btn-primary">アップロード</button>
            </form>
        </div>

        {% if image %}
        <div class="p-5 mt-3 shadow rounded">
            <h2>画像を編集する</h2>
            <img src="media/{{image.image}}" alt="image" width="100px"></img>
            {% include "image/remove_confirm_modal.html" %}
            <button type="button" class="btn"  data-bs-toggle="modal" data-bs-target="#editModal" title="trim"><i class="fa-solid fa-crop-simple"></i></button>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#confirmModal" title="delete"><i class="fa-solid fa-trash-can"></i></button>
        </div>
        {% endif %}
    </div>
    
    <div class="p-5 ms-3 shadow rounded d-flex align-items-start flex-column">
        <div class="mb-auto">
            <h2>アカウント</h2>
            {% if image %}
            <div>
                <a href="{% url 'profile' image.upload_by.username %}" title="プロフィール">
                    <img src="media/{{image.trim_image}}" width="100px"></img>
                </a>
            </div>
            {% endif %}
            {% if user.pk %}
            <div class="d-flex">
                <h5 class="my-auto">{{ user.username }} さん</h5>
            </div>
            {% endif %}
            <div>
                <a href="{% url 'login' %}" class="btn">
                    <i class="fa-solid fa-right-to-bracket"></i> 
                    {% if user.pk %}
                    他のアカウントでログイン
                    {% else %}
                    ログイン
                    {% endif %}
                </a>
            </div>
            {% if user.pk %}
            <div>
                <a href="{% url 'logout' %}" class="btn">
                    <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                </a>
            </div>
            {% endif %}
            <div>
                <a href="{% url 'signup' %}" class="btn">
                    <i class="fa-solid fa-user-plus"></i> 新規登録
                </a>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <a href="{% url 'list' %}" aria-disabled="true">他のユーザーを見る</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% if image %}
{% include "image/edit_image_modal.html" %}
{% endif %}
{% endblock main %}